body,
html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('assets/background.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.border {
    background-color: #f1f1f1;
    border: 2px solid #009f10;
    margin: 40px 20px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Added shadow */
}

.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
    font-size: 40pt;
    font-family: "Fira Code", monospace;
    color: #009f10;
}

.social-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.social-list li {
    margin-bottom: 10px;
}

.social-list li a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 20px;
    text-decoration: none;
    color: #007bff;
    transition: all 0.3s ease;
    font-size: 15pt;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-list li a:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.social-list li a:hover .icon-twitter path,
.social-list li a:hover .icon-qiita path,
.social-list li a:hover .icon-github path,
.social-list li a:hover .icon-instagram path {
    fill: #fff;
}

.copy_email {
    padding-top: 2cm;
}

.copy_email p {
    font-size: 10pt;
    color: rgb(154, 154, 154);
    padding: 0;
}

.copy_email a {
    font-size: 20pt;
}

@media (max-width: 768px) {
    .social-list li a {
        font-size: 12pt;
        padding: 8px 16px;
    }

    .text-center {
        font-size: 30pt;
    }

    .copy_email {
        padding-top: 1cm;
    }

    .copy_email p {
        font-size: 8pt;
    }
}