body {
    padding-top: 50px;
    background-color: #f8f9fa;
    /* fallback */
    background-color: #000;
    /* fallback */
}

.border {
    border: 2px solid #009f10;
    margin: 40px 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.text-center {
    text-align: center;
    font-size: 40pt;
    font-family: "Fira Code", monospace;
    color: #009f10;
}

.social-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.social-list li {
    margin-bottom: 10px;
}

.social-list li a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 20px;
    text-decoration: none;
    color: #007bff;
    transition: all 0.3s ease;
    font-size: 15pt;
    width: 100%;
    box-sizing: border-box;
}

.social-list li a:hover {
    background-color: #007bff;
    color: #fff;
}

.copy_email {
    padding-top: 2cm;
    /* Adjust this as needed */
}

.copy_email p {
    font-size: 10pt;
    color: rgb(154, 154, 154);
    padding: 0;
}

.copy_email a {
    font-size: 20pt;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .social-list li a {
        font-size: 12pt;
        padding: 8px 16px;
    }

    .text-center {
        font-size: 30pt;
    }

    .copy_email {
        padding-top: 1cm;
    }

    .copy_email p {
        font-size: 8pt;
    }
}